@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

html {
    font-size: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

main {
    margin: 30px auto;
    background-color: hsl(0, 0%, 98%);
    padding: 20px;
    border-radius: 5px;
    max-width: 1200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 600px) {
    main {
        margin: 0;
        padding: 5px;
        box-shadow: none;
    }
}

h1 {
    margin-top: 0;
}

details {
    margin-bottom: 10px;
    margin-left: 25px;
}

summary {
    user-select: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 110%;
    margin-bottom: 10px;
    margin-left: -20px;
}

label {
    display: block;
    margin: 5px;
    font-size: 1em;
    color: #333;
}

#add1options {
    margin-left: 30px;
}

input[type="radio"] {
    margin-right: 10px;
}

button#uploadBtn {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button#uploadBtn:hover {
    background-color: #0056b3;
}

button#uploadBtn:active {
    background-color: #004499;
}

button#uploadBtn:focus {
    outline: none;
}

#tieBreakingList ul {
    margin: 5px 0;
}

#unusedTieBreakingMethods {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    font-size: 90%;
    padding: 5px;
    background-color: hsl(236, 38%, 98%);
    border: 1px solid hsl(236, 38%, 90%);
    border-radius: 5px;
}

#unusedTieBreakingMethods span {
    padding: 6px; 
}

#unusedTieBreakingMethods a {
    background-color: #dde7f3;
    border: 1px solid #dde7f3;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
}

#unusedTieBreakingMethods a:hover {
    border: 1px solid #bbb;
}

@media screen and (max-width: 600px) {
    #unusedTieBreakingMethods {
        flex-direction: column;
    }
}

#fileInfo {
    display: none;
    border: 1px solid #ccc;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
}

@media screen and (max-width: 600px) {
    #drop-suggestion {
        display: none;
    }
}

#drop-overlay {
    pointer-events: none;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(31, 31, 157, 0.3) radial-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
    z-index: 9999;
}

#drop-overlay-instruction {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding: 10em; */
    border-radius: 5px;
    font-size: 200%;
}

#results-section > ul {
    padding-left: 20px;
}

/* table bar charts */

td.right {
    text-align: right !important;
}

tr.winner-row {
    background-color: hsl(144, 42%, 85%);
}

.bar-container {
    background-color: hsl(0, 0%, 88%);
    width: 100px;
    height: 24px;
}

.bar {
    position: relative;
    height: 100%;
    background-color: rgb(54, 54, 123);
    white-space: nowrap;
    text-align: left;
}

.bar-container span, #dummy-label {
    font-size: 90%;
    color: white;
    position: absolute;
    padding-top: 2px;
    padding-left: 3px;
    padding-right: 1px;
}

.bar-container span.outside {
    color: black;
    position: absolute;
    left: 100%;
}

@media screen and (max-width: 600px) {
    tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
}